<!doctype html>
<html lang="en">

<head>
    <title>

    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <script type="text/javascript">
        $(document).ready(function() {
            setInterval(checked, 5000);

            function checked() {
                $.ajax('/refreshList', {
                    dataType: 'json', // type of response data
                    timeout: 500, // timeout milliseconds
                    success: function(data, status, xhr) { // success callback function
                        //console.log(data)
                        data.map((item, index) => {
                            let text = "";
                            let green = '<i class="fa fa-square" id="green" aria-hidden="true"></i>'
                            let red = '<i class="fa fa-square" id="red" aria-hidden="true"></i>'
                            let orange = '<i class="fa fa-square" id="orange" aria-hidden="true"></i>'
                            let black = '<i class="fa fa-square"  aria-hidden="true"></i>'
                            for (let i = 0; i < item.time.length; i++) {
                                if (item.time[i] > 0 && item.time[i] <= 600) {
                                    text += green + " "
                                }
                                if (item.time[i] > 600 && item.time[i] <= 1000) {
                                    text += orange + " "
                                }
                                if (item.time[i] > 1000) {
                                    text += red + " "
                                }
                                if (item.time[i] == 0 || item.time[i] == null) {
                                    text += black + " "
                                }

                            }
                            document.getElementById("vl" + index).innerHTML = text;

                        })
                    },
                    error: function(jqXhr, textStatus, errorMessage) { // error callback 
                        //$('p').append('Error: ' + errorMessage);
                    }
                });
            }

        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            setInterval(timeLoadPage, 5000);

            function timeLoadPage() {
                $.ajax('/refreshList', {
                    dataType: 'json', // type of response data
                    timeout: 500, // timeout milliseconds
                    success: function(data, status, xhr) { // success callback function
                        //console.log(data)
                        data.map((item, index) => {
                            let text = 0;
                            text = item.time[item.time.length - 1];
                            document.getElementById("v" + index).innerHTML = text + ' ms';
                        })
                    },
                    error: function(jqXhr, textStatus, errorMessage) { // error callback 
                        //$('p').append('Error: ' + errorMessage);
                    }
                });
            }

        });
    </script>
</head>

<body style="background: linear-gradient(45deg, #4158d0, #c850c0)">


    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    <div class="form">
                        <form action="/see" method="post" style="  margin-bottom: 10px ; margin-top: 20px">
                            <div class="input-group">
                                <input class="form-control" name="ura" type="text" placeholder="url..." aria-label="Recipient's " aria-describedby="my-addon" value="">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary pading">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table>
                        <thead>
                            <tr class="table100-head">
                                <th class="column1">URL</th>
                                <th class="column2" style="text-align-last: center">TITLE</th>
                                <th class="column3" style="text-align-last: center">GRAPH</th>
                                <th class="column4" style="text-align-last: center">TIME LOAD</th>
                            </tr>
                        </thead>
                        <tbody>
                            <form action="/see" method="get">
                                <%data.forEach((dl,index) => {  %>
                                    <%let id = 'vl' + index%>
                                        <%let idtime = 'v' + index%>
                                            <tr>
                                                <td class="column1">
                                                    <%= dl.getUrl%>
                                                        <a href="/del/<%= dl._id%>/<%= dl.getUrl%>" class="fa fa-trash" aria-hidden="true"></a>
                                                </td>
                                                <td class="column2">
                                                    <%= dl.title%>
                                                </td>
                                                <td class="column3">
                                                    <p id=<%=id %>></p>
                                                </td>
                                                <td class="column4">
                                                    <p id=<%=idtime %>> 0ms</p>
                                                </td>

                                            </tr>
                                            <%})%>
                            </form>
                        </tbody>
                    </table>
                </div>
                <p style="text-align: center ; margin-top: 10px">Another account? <a href="/logout">logout</a></p>
                <p style="text-align: center ; margin-top: 10px">Reports? <a href="/reports">reports</a></p>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>

</body>

</html>